<table width="100%" border="0" cellspacing="7" cellpadding="0" align="center">
  <tbody>
    <tr valign="top">
      <td width="25%" valign="top" class="date">6 BC</td>
      <td width="50%" valign="top" class="event">Birth of John the Baptist</td>
      <td width="25%" valign="top" class="ref">
        <a href="/luke/1.htm">Luke 1</a>,
        <br>
        <a href="/john/1.htm">John 1:6</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">6 BC</td>
      <td width="50%" valign="top" class="event">Augustus Taxes the Roman Empire</td>
      <td width="25%" valign="top" class="ref">
        <a href="/luke/2.htm">Luke 2</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">5 BC</td>
      <td width="50%" valign="top" class="event">Birth of Jesus</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/1.htm">Matthew 1</a>,
        <br>
        <a href="/mark/1.htm">Mark 1</a>,
        <br>
        <a href="/luke/2.htm">Luke 2:6</a>,
        <br>
        <a href="/john/1.htm">John 1:14</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">5 BC</td>
      <td width="50%" valign="top" class="event">Visit of the Magi</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/2.htm">Matthew 2</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">5 BC</td>
      <td width="50%" valign="top" class="event">Escape to Egypt</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/2.htm">Matthew 2:13</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">4 BC</td>
      <td width="50%" valign="top" class="event">Slaughter of Infants</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/2.htm">Matthew 2:16</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">4 BC</td>
      <td width="50%" valign="top" class="event">Return to Nazareth</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/2.htm">Matthew 2:23</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">8 AD</td>
      <td width="50%" valign="top" class="event">The Boy Jesus at the Temple</td>
      <td width="25%" valign="top" class="ref">
        <a href="/luke/2.htm">Luke 2:41</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">26 AD</td>
      <td width="50%" valign="top" class="event">John the Baptist Prepares the Way</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/3.htm">Matthew 3</a>,
        <br>
        <a href="/mark/1.htm">Mark 1:4</a>,
        <br>
        <a href="/luke/3.htm">Luke 3</a>,
        <br>
        <a href="/john/1.htm">John 1:15</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">26 AD</td>
      <td width="50%" valign="top" class="event">The Baptism of Jesus</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/3.htm">Matthew 3:13</a>,
        <br>
        <a href="/mark/1.htm">Mark 1:9</a>,
        <br>
        <a href="/luke/3.htm">Luke 3:21</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">27 AD</td>
      <td width="50%" valign="top" class="event">Temptation of Jesus</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/4.htm">Matthew 4</a>,
        <br>
        <a href="/mark/1.htm">Mark 1:12</a>,
        <br>
        <a href="/luke/4.htm">Luke 4</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">27 AD</td>
      <td width="50%" valign="top" class="event">Jesus Calls his First Disciples</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/4.htm">Matthew 4:18</a>,
        <br>
        <a href="/mark/1.htm">Mark 1:16</a>,
        <br>
        <a href="/luke/5.htm">Luke 5</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">27 AD</td>
      <td width="50%" valign="top" class="event">Wedding at Cana</td>
      <td width="25%" valign="top" class="ref">
        <a href="/john/2.htm">John 2</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">27 AD</td>
      <td width="50%" valign="top" class="event">Jesus Teaches Nicodemus</td>
      <td width="25%" valign="top" class="ref">
        <a href="/john/3.htm">John 3</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">27 AD</td>
      <td width="50%" valign="top" class="event">Jesus Testifies to the Samaritan Woman</td>
      <td width="25%" valign="top" class="ref">
        <a href="/john/4.htm">John 4</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">27 AD</td>
      <td width="50%" valign="top" class="event">Sermon on the Mount</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/5.htm">Matthew 5 - 7</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">28 AD</td>
      <td width="50%" valign="top" class="event">Instructions on Prayer</td>
      <td width="25%" valign="top" class="ref">
        <a href="/luke/11.htm">Luke 11</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">28 AD</td>
      <td width="50%" valign="top" class="event">Jesus Ministers in Galilee</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/8.htm">Matthew 8</a>,
        <br>
        <a href="/mark/2.htm">Mark 2</a>,
        <br>
        <a href="/luke/4.htm">Luke 4:14</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">28 AD</td>
      <td width="50%" valign="top" class="event">The Pool of Bethesda</td>
      <td width="25%" valign="top" class="ref">
        <a href="/john/5.htm">John 5</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">28 AD</td>
      <td width="50%" valign="top" class="event">Jesus Lord of the Sabbath</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/12.htm">Matthew 12</a>,
        <br>
        <a href="/mark/3.htm">Mark 3</a>,
        <br>
        <a href="/luke/6.htm">Luke 6</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">28 AD</td>
      <td width="50%" valign="top" class="event">Jesus Answers John's Disciples</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/11.htm">Matthew 11</a>,
        <br>
        <a href="/luke/7.htm">Luke 7</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">28 AD</td>
      <td width="50%" valign="top" class="event">Jesus Speaks Many Parables</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/13.htm">Matthew 13</a>,
        <br>
        <a href="/mark/4.htm">Mark 4</a>,
        <br>
        <a href="/luke/8.htm">Luke 8</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">28 AD</td>
      <td width="50%" valign="top" class="event">Jesus Heals a Demoniac</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/8.htm">Matthew 8:28</a>,
        <br>
        <a href="/mark/5.htm">Mark 5</a>,
        <br>
        <a href="/luke/8.htm">Luke 8:26</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">28 AD</td>
      <td width="50%" valign="top" class="event">Jesus Heals a Paralytic</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/9.htm">Matthew 9</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">29 AD</td>
      <td width="50%" valign="top" class="event">Jesus Sends out His Twelve Apostles</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/10.htm">Matthew 10</a>,
        <br>
        <a href="/mark/6.htm">Mark 6</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">29 AD</td>
      <td width="50%" valign="top" class="event">John the Baptist Beheaded</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/14.htm">Matthew 14</a>,
        <br>
        <a href="/mark/6.htm">Mark 6:14</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">29 AD</td>
      <td width="50%" valign="top" class="event">Jesus Feeds the 5,000</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/14.htm">Matthew 14:15</a>,
        <br>
        <a href="/mark/6.htm">Mark 6:30</a>,
        <br>
        <a href="/luke/9.htm">Luke 9</a>,
        <br>
        <a href="/john/6.htm">John 6</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">29 AD</td>
      <td width="50%" valign="top" class="event">Teachings on Clean and Unclean</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/15.htm">Matthew 15</a>,
        <br>
        <a href="/mark/7.htm">Mark 7</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">29 AD</td>
      <td width="50%" valign="top" class="event">Peter's Confession of Christ</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/16.htm">Matthew 16</a>,
        <br>
        <a href="/mark/8.htm">Mark 8</a>,
        <br>
        <a href="/luke/9.htm">Luke 9:18</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">29 AD</td>
      <td width="50%" valign="top" class="event">The Transfiguration</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/17.htm">Matthew 17</a>,
        <br>
        <a href="/mark/9.htm">Mark 9</a>,
        <br>
        <a href="/luke/9.htm">Luke 9:28</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">29 AD</td>
      <td width="50%" valign="top" class="event">Greatest and Least in the Kingdom</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/18.htm">Matthew 18</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">29 AD</td>
      <td width="50%" valign="top" class="event">Jesus Sends out the Seventy-two</td>
      <td width="25%" valign="top" class="ref">
        <a href="/luke/10.htm">Luke 10</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">29 AD</td>
      <td width="50%" valign="top" class="event">Jesus Teaches at the Feast of Tabernacles</td>
      <td width="25%" valign="top" class="ref">
        <a href="/john/7.htm">John 7</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">29 AD</td>
      <td width="50%" valign="top" class="event">The Woman Caught in Adultery</td>
      <td width="25%" valign="top" class="ref">
        <a href="/john/8.htm">John 8</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">29 AD</td>
      <td width="50%" valign="top" class="event">Jesus Affirms He is the Son of God</td>
      <td width="25%" valign="top" class="ref">
        <a href="/john/9.htm">John 9</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">29 AD</td>
      <td width="50%" valign="top" class="event">The Shepherd and His Flock</td>
      <td width="25%" valign="top" class="ref">
        <a href="/john/10.htm">John 10</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">30 AD</td>
      <td width="50%" valign="top" class="event">Jesus Speaks More Parables</td>
      <td width="25%" valign="top" class="ref">
        <a href="/luke/12.htm">Luke 12 - 16</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">30 AD</td>
      <td width="50%" valign="top" class="event">Jesus Cleanses the Ten Lepers</td>
      <td width="25%" valign="top" class="ref">
        <a href="/luke/17.htm">Luke 17</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">30 AD</td>
      <td width="50%" valign="top" class="event">Jesus Raises Lazarus</td>
      <td width="25%" valign="top" class="ref">
        <a href="/john/11.htm">John 11</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">30 AD</td>
      <td width="50%" valign="top" class="event">Final Journey to Jerusalem</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/19.htm">Matthew 19, 20</a>,
        <br>
        <a href="/mark/10.htm">Mark 10</a>,
        <br>
        <a href="/luke/18.htm">Luke 18</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">30 AD</td>
      <td width="50%" valign="top" class="event">The Triumphal Entry</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/21.htm">Matthew 21</a>,
        <br>
        <a href="/mark/11.htm">Mark 11</a>,
        <br>
        <a href="/luke/19.htm">Luke 19</a>,
        <br>
        <a href="/john/12.htm">John 12</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">30 AD</td>
      <td width="50%" valign="top" class="event">Closing Ministry in Jerusalem</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/22.htm">Matthew 22 - 25</a>,
        <br>
        <a href="/mark/12.htm">Mark 12, 13</a>,
        <br>
        <a href="/luke/20.htm">Luke 20, 21</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">30 AD</td>
      <td width="50%" valign="top" class="event">Thursday Before Passover</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/26.htm">Matthew 26</a>,
        <br>
        <a href="/mark/14.htm">Mark 14</a>,
        <br>
        <a href="/luke/22.htm">Luke 22</a>,
        <br>
        <a href="/john/13.htm">John 13</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">30 AD</td>
      <td width="50%" valign="top" class="event">Jesus Comforts His Disciples</td>
      <td width="25%" valign="top" class="ref">
        <a href="/john/14.htm">John 14</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">30 AD</td>
      <td width="50%" valign="top" class="event">Jesus the True Vine</td>
      <td width="25%" valign="top" class="ref">
        <a href="/john/15.htm">John 15</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">30 AD</td>
      <td width="50%" valign="top" class="event">Jesus Promises the Holy Spirit</td>
      <td width="25%" valign="top" class="ref">
        <a href="/john/16.htm">John 16</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">30 AD</td>
      <td width="50%" valign="top" class="event">Jesus' Intercessory prayers</td>
      <td width="25%" valign="top" class="ref">
        <a href="/john/17.htm">John 17</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">30 AD</td>
      <td width="50%" valign="top" class="event">Jesus' Betrayal, Trial, Crucifixion</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/27.htm">Matthew 27</a>,
        <br>
        <a href="/mark/15.htm">Mark 15</a>,
        <br>
        <a href="/luke/23.htm">Luke 23</a>,
        <br>
        <a href="/john/18.htm">John 18, 19</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">30 AD</td>
      <td width="50%" valign="top" class="event">Jesus' Resurrection</td>
      <td width="25%" valign="top" class="ref">
        <a href="/matthew/28.htm">Matthew 28</a>,
        <br>
        <a href="/mark/16.htm">Mark 16</a>,
        <br>
        <a href="/luke/24.htm">Luke 24</a>,
        <br>
        <a href="/john/20.htm">John 20, 21</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">30 AD</td>
      <td width="50%" valign="top" class="event">The Ascension</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/1.htm">Acts 1</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">30 AD</td>
      <td width="50%" valign="top" class="event">Matthias Chosen by Lot</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/1.htm">Acts 1:12</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">30 AD</td>
      <td width="50%" valign="top" class="event">The Holy Spirit Comes at Pentecost</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/2.htm">Acts 2</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">30 AD</td>
      <td width="50%" valign="top" class="event">Peter Heals and Preaches</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/3.htm">Acts 3</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">30 AD</td>
      <td width="50%" valign="top" class="event">Peter and John Arrested and Released; </td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/4.htm">Acts 4</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">30 AD</td>
      <td width="50%" valign="top" class="event">Believers Share All</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/4.htm">Acts 4:32</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">30 AD</td>
      <td width="50%" valign="top" class="event">Deaths of Ananias and Sapphira</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/5.htm">Acts 5</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">30 AD</td>
      <td width="50%" valign="top" class="event">Apostles Preach and Heal</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/5.htm">Acts 5:11</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">31 AD</td>
      <td width="50%" valign="top" class="event">Stephen's Speech, Stoning and Death</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/6.htm">Acts 6, 7</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">31 AD</td>
      <td width="50%" valign="top" class="event">Saul Persecutes the Church</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/8.htm">Acts 8</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">31 AD</td>
      <td width="50%" valign="top" class="event">Philip in Samaria</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/8.htm">Acts 8:3</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">31 AD</td>
      <td width="50%" valign="top" class="event">Simon the Sorcerer</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/8.htm">Acts 8:9</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">31 AD</td>
      <td width="50%" valign="top" class="event">Philip and the Ethiopian</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/8.htm">Acts 8:26</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">34 AD</td>
      <td width="50%" valign="top" class="event">Saul's Conversion</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/9.htm">Acts 9</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">37 AD</td>
      <td width="50%" valign="top" class="event">Peter Preaches to the Gentiles</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/10.htm">Acts 10, 11</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">42 AD</td>
      <td width="50%" valign="top" class="event">Barnabas Sent to Antioch</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/11.htm">Acts 11:22</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">42 AD</td>
      <td width="50%" valign="top" class="event">Peter Led from Prison by the Angel</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/12.htm">Acts 12</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">44 AD</td>
      <td width="50%" valign="top" class="event">Herod Agrippa Dies</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/12.htm">Acts 12:20</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">45 AD</td>
      <td width="50%" valign="top" class="event">James Writes his Letter</td>
      <td width="25%" valign="top" class="ref">
        <a href="/james/1.htm">James 1 - 5</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">48 AD</td>
      <td width="50%" valign="top" class="event">Paul's First Missionary Journey</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/13.htm">Acts 13</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">48 AD</td>
      <td width="50%" valign="top" class="event">Paul preaches in Pisidian Antioch</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/13.htm">Acts 13:14</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">48 AD</td>
      <td width="50%" valign="top" class="event">Paul and Barnabas in Iconium</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/14.htm">Acts 14</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">48 AD</td>
      <td width="50%" valign="top" class="event">Paul and Barnabas in Lystra and Derbe</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/14.htm">Acts 14:8</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">48 AD</td>
      <td width="50%" valign="top" class="event">Paul and Barnabas Return to Syrian Antioch</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/14.htm">Acts 14:21</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">48 AD</td>
      <td width="50%" valign="top" class="event">Return to Syrian Antioch</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/14.htm">Acts 14:24</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">48 AD</td>
      <td width="50%" valign="top" class="event">The Council at Jerusalem</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/15.htm">Acts 15</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">49 AD</td>
      <td width="50%" valign="top" class="event">Paul's Second Missionary Journey</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/15.htm">Acts 15:36</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">49 AD</td>
      <td width="50%" valign="top" class="event">Paul in Philippi</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/16.htm">Acts 16</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">49 AD</td>
      <td width="50%" valign="top" class="event">Paul in Thessalonica, Berea, Athens</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/17.htm">Acts 17</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">51 AD</td>
      <td width="50%" valign="top" class="event">Paul in Corinth</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/18.htm">Acts 18</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">51 AD</td>
      <td width="50%" valign="top" class="event">Paul Writes to the Thessalonians</td>
      <td width="25%" valign="top" class="ref">
        <a href="/1_thessalonians/1.htm">1 Thess. 1 - 5</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">52 AD</td>
      <td width="50%" valign="top" class="event">Paul Writes again to the Thessalonians</td>
      <td width="25%" valign="top" class="ref">
        <a href="/2_thessalonians/1.htm">2 Thess. 1 - 3</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">54 AD</td>
      <td width="50%" valign="top" class="event">Paul in Ephesus</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/19.htm">Acts 19</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">54 AD</td>
      <td width="50%" valign="top" class="event">Paul Writes to the Corinthians</td>
      <td width="25%" valign="top" class="ref">
        <a href="/1_corinthians/1.htm">1 Corinthians 1 - 16</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">54 AD</td>
      <td width="50%" valign="top" class="event">Paul Writes to the Galatians</td>
      <td width="25%" valign="top" class="ref">
        <a href="/galatians/1.htm">Galatians 1 - 6</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">57 AD</td>
      <td width="50%" valign="top" class="event">Paul in Macedonia and Greece</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/20.htm">Acts 20</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">57 AD</td>
      <td width="50%" valign="top" class="event">Paul Writes to the Romans</td>
      <td width="25%" valign="top" class="ref">
        <a href="/romans/1.htm">Romans 1 - 16</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">57 AD</td>
      <td width="50%" valign="top" class="event">Paul Writes again to the Corinthians</td>
      <td width="25%" valign="top" class="ref">
        <a href="/2_corinthians/1.htm">2 Corinthians 1 - 13</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">59 AD</td>
      <td width="50%" valign="top" class="event">Paul Returns to Jerusalem</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/21.htm">Acts 21 - 23</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">60 AD</td>
      <td width="50%" valign="top" class="event">Paul imprisoned in Caesarea</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/24.htm">Acts 24</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">62 AD</td>
      <td width="50%" valign="top" class="event">Paul Before Festus</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/25.htm">Acts 25</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">62 AD</td>
      <td width="50%" valign="top" class="event">Paul Before Agrippa</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/26.htm">Acts 26</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">62 AD</td>
      <td width="50%" valign="top" class="event">Paul Sails for Rome</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/27.htm">Acts 27</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">62 AD</td>
      <td width="50%" valign="top" class="event">The Shipwreck</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/27.htm">Acts 27:13</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">62 AD</td>
      <td width="50%" valign="top" class="event">Paul Ashore at Malta</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/28.htm">Acts 28</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">62 AD</td>
      <td width="50%" valign="top" class="event">Paul Preaches at Rome</td>
      <td width="25%" valign="top" class="ref">
        <a href="/acts/28.htm">Acts 28:11</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">62 AD</td>
      <td width="50%" valign="top" class="event">Paul Writes to the Ephesians</td>
      <td width="25%" valign="top" class="ref">
        <a href="/ephesians/1.htm">Ephesians 1 - 6</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">62 AD</td>
      <td width="50%" valign="top" class="event">Paul Writes to the Philippians</td>
      <td width="25%" valign="top" class="ref">
        <a href="/philippians/1.htm">Philippians 1 - 4</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">62 AD</td>
      <td width="50%" valign="top" class="event">Paul Writes to the Colossians</td>
      <td width="25%" valign="top" class="ref">
        <a href="/colossians/1.htm">Colossians 1 - 4</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">62 AD</td>
      <td width="50%" valign="top" class="event">Paul Writes to Philemon</td>
      <td width="25%" valign="top" class="ref">
        <a href="/philemon/1.htm">Philemon 1</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">63 AD</td>
      <td width="50%" valign="top" class="event">Paul Writes to Timothy</td>
      <td width="25%" valign="top" class="ref">
        <a href="/1_timothy/1.htm">1 Timothy 1 - 6</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">64 AD</td>
      <td width="50%" valign="top" class="event">Peter Writes his First Letter</td>
      <td width="25%" valign="top" class="ref">
        <a href="/1_peter/1.htm">1 Peter 1 - 5</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">66 AD</td>
      <td width="50%" valign="top" class="event">Paul Writes to Titus</td>
      <td width="25%" valign="top" class="ref">
        <a href="/titus/1.htm">Titus 1 - 3</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">67 AD</td>
      <td width="50%" valign="top" class="event">Paul Writes Again to Timothy</td>
      <td width="25%" valign="top" class="ref">
        <a href="/2_timothy/1.htm">2 Timothy 1 - 4</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">67 AD</td>
      <td width="50%" valign="top" class="event">Peter Writes his Second Letter</td>
      <td width="25%" valign="top" class="ref">
        <a href="/2_peter/1.htm">2 Peter 1 - 3</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">68 AD</td>
      <td width="50%" valign="top" class="event">Letter to the Hebrews</td>
      <td width="25%" valign="top" class="ref">
        <a href="/hebrews/1.htm">Hebrews 1 - 13</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">68 AD</td>
      <td width="50%" valign="top" class="event">Jude Writes his Letter</td>
      <td width="25%" valign="top" class="ref">
        <a href="/jude/1.htm">Jude 1</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">90 AD</td>
      <td width="50%" valign="top" class="event">John Writes his First Letter</td>
      <td width="25%" valign="top" class="ref">
        <a href="/1_john/1.htm">1 John 1 - 5</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">92 AD</td>
      <td width="50%" valign="top" class="event">John Writes his Second Letter</td>
      <td width="25%" valign="top" class="ref">
        <a href="/2_john/1.htm">2 John 1</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">94 AD</td>
      <td width="50%" valign="top" class="event">John Writes his Third Letter</td>
      <td width="25%" valign="top" class="ref">
        <a href="/3_john/1.htm">3 John 1</a>
      </td>
    </tr>
    <tr valign="top">
      <td width="25%" valign="top" class="date">95 AD</td>
      <td width="50%" valign="top" class="event">John's Revelation on Patmos</td>
      <td width="25%" valign="top" class="ref">
        <a href="/revelation/1.htm">Revelation 1 - 22</a>
      </td>
    </tr>
  </tbody>
</table>