<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <title>modal</title>
</head>

<body>
  <a href="#" class="modal-trigger" data-modal="modal-name">Modal open!</a>
  <!-- Trigger Modal. -->

  <!-- Modal -->
  <div class="modal" id="modal-name">
    <div class="modal-sandbox"></div>
    <div class="modal-box">
      <div class="modal-header">
        <div class="close-modal">&#10006;</div>
        <h1>Simple modal box</h1>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic soluta saepe, atque, iure quidem maiores non dolores,
          fuga eaque voluptatibus corporis accusantium quas. Eligendi velit eum fugiat eius? Distinctio reiciendis sint error,
          repellat ut soluta doloremque, accusamus vitae placeat?</p>
        <p>Laboriosam voluptas, iure rem provident laborum culpa atque fugit inventore sit. Corrupti dolore architecto inventore
          officia, odit totam voluptatem laboriosam tempore reiciendis, et neque, consequuntur. Non, tenetur? Tempore reprehenderit
          tenetur nemo asperiores alias commodi assumenda architecto minima numquam repellendus debitis nulla, rerum officia
          itaque, sunt nihil sequi quod perspiciatis, animi quas voluptates velit aperiam voluptatem.</p>
        <br />
        <button class="close-modal">Close!</button>
      </div>
    </div>
  </div>

  <!-- Aditional Styles -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">

  <script src="./script.js"></script>
</body>

</html>