<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>Float Grid</title>
</head>

<body>
  <div class="container">
    <h1>Float Grid</h1>
    <div class="row">
      <div class="one column">Column</div>
    </div>
    <div class="row">
      <div class="half column">Half Column</div>
      <div class="half column">Half Column</div>
    </div>

    <div class="row">
      <div class="one-third column">
        One-third column
      </div>
      <div class="one-third column">
        One-third column
      </div>
      <div class="one-third column">
        One-third column
      </div>
    </div>
    <div class="row">
      <div class="one-fourth column">
        One-fourth column
      </div>
      <div class="one-fourth column">
        One-fourth column
      </div>
      <div class="one-fourth column">
        One-fourth column
      </div>
      <div class="one-fourth column">
        One-fourth column
      </div>
    </div>
    <div class="row">
      <div class="one-third column">
        One-third column
      </div>
      <div class="two-thirds column">
        Two-thirds column
      </div>
    </div>
  </div>
</body>

</html>