<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>

<body>

  <div id="cd-nav">
    <a href="#0" class="cd-nav-trigger">Menu<span></span></a>

    <nav id="cd-main-nav">
      <div>Homepage</div>
      <div>Services</div>
      <div>Portfolio</div>
      <div>Pricing</div>
      <div>Contact</div>
    </nav>
  </div>
  <script src="./script.js"></script>
</body>

</html>