<div id="quiz" v-if="student">

  <h1>Quiz</h1>
  <nav>
    <a href="#" class="js-menu-open menu-open">
      <i>menu</i>
    </a>
  </nav>
  <div class="js-side-nav-container side-nav-container">
    <div class="js-side-nav side-nav">
      <div :class="'side-nav-level ' + eventsClass">
        <a @click="eventsClass=''" class="close-events" href="#">back</a>
        <h2>{{selectedTime.date}}</h2>
        <ul>
          <li v-for="(event, index) in selectedTime.events" :key="index" @click="selectMaterials(event)">{{event}}</li>
        </ul>
      </div>
      <a href="#0" class="js-menu-close menu-close">
        <i>close</i>
      </a>
      <div class="hidden">{{searched.length}}</div>
      <input v-model="search" type="text" placeholder="Enter search term...">
      <button @click.prevent="gotoPage('prev')">Prev Page</button>
      <button @click.prevent="gotoPage('next')">Next Page</button>

      <h2 class="icon icon-world">Creation till Date</h2>
      <ul>
        <li class="open-events" v-for="(time, index) in timeline" :key="index">
          <a href="#" @click.prevent="selectTime(time)">{{time.date}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="selected-materials">
    <div
    class="selected-material modal-trigger modal-toggle"
    v-for="(material, index) in selectedMaterials"
    :key="index"
    @click="loadMaterial(material)">
      <div class="selected-material-title">{{material.title}}</div>
      <div class="selected-material-thumbnail">
        <img :src="getThumbnail(material.location)" alt="thumbnail" />
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal">
    <div class="modal-sandbox" @click="toggleModal()"></div>
    <div class="modal-box" v-if="loadedMaterial">
      <div class="modal-header">
        <div class="close-modal" @click="toggleModal()">&#10006;</div>
        <h1>{{loadedMaterial.title}}</h1>
      </div>
      <div class="modal-body">
        <iframe :src="loadedMaterial.location" frameborder="0"></iframe>
        <div class="questions" v-if="!endedQuiz">
          <!-- <div v-for="(question, questionIdx) in loadedMaterial.questions" :key="questionIdx" class="question"> -->
            <div class="question-title">{{nextQuiz.title}}</div>
            <ul>
              <li @click="nextQuestion(quizState.index, optionIdx)" v-for="(option, optionIdx) in nextQuiz.options" :key="optionIdx">{{option.value}}</li>
            </ul>
          <!-- </div> -->
        </div>
        <div class="questions" v-if="endedQuiz">
          {{ endedQuiz }}
        </div>
      </div>
    </div>
  </div>
</div>