<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="footer.css">
  <title>footer list</title>
</head>

<body>

  <a href="#mobile-nav" class="anchor-link">Anchor link</a>
  <nav class="nav">
    <h2>Menu</h2>
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Profile</a>
      </li>
      <li>
        <a href="#">Quiz</a>
      </li>
      <li>
        <a href="#">Material</a>
      </li>
      <li>
        <a href="#">Rank</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
    </ul>
  </nav>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ad a. Aspernatur expedita atque cupiditate odit repellat
    similique vitae architecto aliquid sapiente ratione sit totam placeat, sint laudantium fuga rerum. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Beatae quos amet quis cupiditate, ea rerum voluptate inventore laborum et harum
    esse cum ex iusto iure aliquid. Saepe nam ipsum magni. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptas
    ratione possimus, a enim doloribus at debitis esse, blanditiis natus dolores reiciendis fugiat maxime recusandae officia
    perferendis eveniet praesentium obcaecati! Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit blanditiis
    quam, iste architecto sit labore esse incidunt ipsa sunt perspiciatis ea in debitis. Voluptate, officia quidem. Qui fuga
    iusto omnis? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, quibusdam unde. Deleniti soluta, velit
    ullam sed minus quam earum officia a quaerat. Perferendis temporibus saepe illo, velit rerum culpa reiciendis. Lorem
    ipsum, dolor sit amet consectetur adipisicing elit. Veniam soluta tempora ipsa, laboriosam quo ut fugiat, reprehenderit
    dolore sunt iste est magni nihil. Numquam aut expedita voluptatem cupiditate, error delectus. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Voluptatibus impedit accusantium vel quos corporis cum, ullam eos molestias consequatur
    recusandae dolores minus possimus iure obcaecati accusamus cupiditate praesentium consequuntur perspiciatis? Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Ea, commodi delectus illo ducimus animi ullam amet consequatur est possimus
    magnam qui culpa voluptates corporis laboriosam mollitia voluptatem eaque non reprehenderit. Lorem ipsum dolor sit amet
    consectetur, adipisicing elit. Earum hic aspernatur saepe officia esse harum aliquid deleniti, odio natus corporis, soluta
    sed nobis quidem iusto voluptatem et impedit odit laboriosam. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    Temporibus voluptatibus itaque labore repudiandae, pariatur impedit, fuga qui ullam magnam molestiae modi dolorem culpa
    asperiores nulla, alias laborum est recusandae velit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
    commodi enim, architecto consequatur quisquam error sapiente ab, animi doloribus, ratione totam neque esse omnis recusandae.
    Ex illum rerum vel doloribus.
  </div>
  <nav id="mobile-nav">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Profile</a>
      </li>
      <li>
        <a href="#">Quiz</a>
      </li>
      <li>
        <a href="#">Material</a>
      </li>
      <li>
        <a href="#">Rank</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
    </ul>
  </nav>
</body>

</html>