<div v-if="selectedMaterial">
  <div class="save-materials">
    <button class="foo-button mdc-button" @click.prevent="saveMaterials()">Save Materials</button>
  </div>
  <div class="tabs tabs-style-underline">
    <nav>
      <ul>
        <li :class="tab.materials" @click="setState('materials')">
          <a href="#section-materials" class="icon icon-content">
            <span>Materials</span>
          </a>
        </li>
        <li :class="tab.questions" @click="setState('questions')">
          <a href="#section-questions" class="icon icon-questions">
            <span>Questions</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="content-wrap">
      <section id="section-materials" :class="tab.materials + ' row'">
        <div class="column half">
          <div class="materials">
            <div v-for="(material, index) in materials" :key="index">
              <div class="material-title" @click="selectMaterial(material)">{{material.title}}</div>
              <div class="material-questions icon icon-questions" @click="openQuestion(material)"></div>
            </div>
          </div>
          <div id="infinite-list" class="timeline">
            <div v-for="(time, index) in timeline" :key="index" @click="selectTime(time)">{{time.date}}</div>
          </div>
        </div>
        <div class="column half">
          <div class="row">
            <div class="column half">
              <div class="row">
                <label class="column half" for="material-edit-title">Title: </label>
                <input class="column half" type="text" id="material-edit-title" placeholder="material title..." v-model="selectedMaterial.title">
              </div>
              <div class="row">
                <label class="column half" for="material-edit-author">Author: </label>
                <input class="column half" type="text" id="material-edit-author" placeholder="material author..." v-model="selectedMaterial.author">
              </div>
              <div class="row">
                <label class="column half" for="material-edit-location">Location: </label>
                <input class="column half" type="text" id="material-edit-location" placeholder="material location..." v-model="selectedMaterial.location">
              </div>
              <div class="row">
                <label class="column half" for="material-edit-event">Event: </label>
                <select class="column half" v-model="selectedMaterial.event">
                  <option v-for="(event, index) in selectedEvents" :key="index">{{event}}</option>
                </select>
              </div>
              <div class="row">
                <label class="column half" for="material-edit-time">Time: </label>
                <input class="column half" disabled type="text" id="material-edit-time" placeholder="material time..." v-model="selectedMaterial.time">
              </div>
              <div class="row">
                <label class="column half" for="material-edit-type">Type: </label>
                <input class="column half" type="text" id="material-edit-type" placeholder="material type..." v-model="selectedMaterial.type">
              </div>
              <div class="material-edit-actions">
                <button @click.prevent="addMaterial()">Add Material</button>
              </div>
            </div>
            <div class="column half">
              <div class="material-preview-title">
                <span>{{selectedMaterial.title}}</span>
              </div>
              <div class="material-preview-author">
                <span>{{selectedMaterial.author}}</span>
              </div>
              <iframe :src="selectedMaterial.location" frameborder="0"></iframe>
              <div class="material-preview-event">
                <span>{{selectedMaterial.event}}</span>
              </div>
              <div class="material-preview-time">
                <span>{{selectedMaterial.time}}</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="section-questions" :class="tab.questions + ' row'">
        <div class="column half">
          <div v-for="(question, index) in selectedMaterial.questions" :key="index">
            <div class="question-title" @click="selectQuestion(question)">{{question.title}}</div>
          </div>
        </div>
        <div class="column half">
          <div class="row"> 
            <div class="column half">
              <div class="row">
                <label class="column one-third" for="question-edit-title">Title: </label>
                <textarea class="column two-thirds" name="" id="question-edit-title" cols="30" rows="10" v-model="selectedQuestion.title"></textarea>
              </div>
              <div class="row">
                <label class="column one-third" for="question-edit-option-value">Option: </label>
                <input class="column two-thirds" type="text" id="question-edit-option-value" v-model="selectedOption.value" />
              </div>
              <div class="row"> 
                <label class="column one-third" for="question-edit-option-pts">Points: </label>
                <input class="column two-thirds" type="number" id="question-edit-option-pts" v-model="selectedOption.pts" />
              </div>
              <div class="question-add-option">
                <button @click="addOption()">Add Option</button>
              </div>
              <div class="material-edit-actions">
                <button @click="addQuestion()">Add Question</button>
              </div>
            </div>
            <div class="column half">
              <div class="question-preview-title">
                <span>{{selectedQuestion.title}}</span>
              </div>
              <div class="question-preview-options">
                <ul>
                  <li v-for="(option, index) in selectedQuestion.options" :key="index">
                    <span class="option-value-pts" @click="selectOption(option)">{{option.value}} ({{option.pts}})</span>
                    <span class="option-delete">x</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>