
ul {
  padding: 0;
  list-style: none;
}

.tabs {
  position: relative;
  overflow: hidden;
  font-weight: 300;
  font-size: 1.25em;
}

.tabs nav {
  text-align: center;
}

.tabs nav ul {
  margin: 0 auto;
  padding: 0;
  /* max-width: 1200px; */
  list-style: none;
}

.tabs nav ul li {
  display: inline-block;
  align-items: center;
  position: relative;
  z-index: 1;
  text-align: center;
}

.tabs nav a {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.5;
}

.tabs nav a span {
  vertical-align: middle;
  font-size: 0.75em;
}

.tabs nav li.tab-current a {
  color: #74777b;
}

.tabs nav a:focus {
  outline: none;
}

.content-wrap {
  position: relative;
}

.content-wrap section {
  display: none;
  margin: 0 auto;
  /* max-width: 1200px; */
  text-align: center;
}

.content-wrap section.tab-current {
  display: block;
}

@media screen and (max-width: 58em) {
  .tabs nav a.icon span {
    display: none;
  }

  .tabs nav a:before {
    margin-right: 0;
  }
}

.tabs-style-underline nav {
  background: #fff;
}

.tabs-style-underline nav a {
  padding: 0 10px;
  border-left: 1px solid #e7ecea;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
}

.tabs-style-underline nav li:last-child a {
  border-right: 1px solid #e7ecea;
}

.tabs-style-underline nav li a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: #2E3037;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translate3d(0, 150%, 0);
  transform: translate3d(0, 150%, 0);
}

.tabs-style-underline nav li.tab-current a::after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}

.tabs-style-underline nav a span {
  font-weight: 700;
}

/* Materials Style */

.materials,
.timeline {
  height: 260px;
  overflow-y: auto;
}
 
.material-title,
.material-questions,
.material-edit-pane,
.material-preview-pane, 
.question-edit-pane,
.question-preview-pane {
  display: inline-block;
  vertical-align: top;
}

  
.material-list,
.question-list { 
  background-color: greenyellow
}

.material-pane,
.question-pane { 
  background-color: aqua;
}
  
.material-edit-pane,
.material-preview-pane,
.question-edit-pane,
.question-preview-pane  { 
  margin: 2%;
}

iframe {
  width: 100%
}

.material-edit-pane > div > label,
.material-edit-pane > div > input,
.material-edit-pane > div > select {
  display: inline-block;
  text-align: left;
}

.material-edit-pane > div > label {
  width: 30%;
}

.material-edit-pane > div > input,
.material-edit-pane > div > select {
  width: 70%;
}

.material-preview-title,
.material-preview-time {
  font-weight: bold;
  font-size: 1.1em !important;
}
  
.material-preview-author,
.material-preview-event {
  font-size: 0.75em;
}

.save-materials {
  text-align: center;
}
@media screen and (min-width: 800px) {

  .material-list,
  .material-pane,
  .material-title,
  .material-questions,
  .material-edit-pane,
  .material-preview-pane,
  .question-list,
  .question-pane,
  .question-edit-pane,
  .question-preview-pane {
    display: inline-block;
    vertical-align: top;
  }
 
  
  .material-list,
  .question-list {
    width: 60%; 
  }
  
  .material-pane,
  .question-pane {
    width: 40%; 
  }
  
  .material-edit-pane,
  .material-preview-pane,
  .question-edit-pane,
  .question-preview-pane  {
    width: 46%; 
  }
  
  .material-questions {
    cursor: pointer;
  } 
}