<div class="profile">
  <div class="row">
    <div class="column one-third section">
      <div class="container">
        <div class="row">
          <div class="column half biodata">
            {{student.first_name}} {{student.last_name}}
          </div>
          <div class="column half biodata">stats</div>
        </div>
      </div>
    </div>
    <div class="column two-thirds">
      <div class="row">
        <div class="column one-third section">
          old testament
        </div>
        <div class="column one-third section">
          new testament
        </div>
        <div class="column one-third section">
          church age
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column two-thirds section">
      score history
    </div>
    <div class="column one-third section">
      <div class="students">
        <ul>
          <li v-for="(student, index) in students">
            {{student.first_name}} {{student.last_name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>