ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline-block;
  margin: 5px;
  background-color: gray;
}

ul li a {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  pointer-events: all;
  display: inherit;
}

ul li::before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}
