@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('./assets/normalize.css');
@import url('./assets/grid.css');

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "icomoon";
  src: url("./assets/fonts/icomoon/icomoon.eot?u59ytb");
  src: url("./assets/fonts/icomoon/icomoon.eot?#iefixu59ytb")
      format("embedded-opentype"),
    url("./assets/fonts/icomoon/icomoon.woff?u59ytb")
      format("woff"),
    url("./assets/fonts/icomoon/icomoon.ttf?u59ytb")
      format("truetype"),
    url("./assets/fonts/icomoon/icomoon.svg?u59ytb#icomoon")
      format("svg");
}
body {
  margin: 0;
  padding: 0;
  background-color: #F1ECFF;
}

.title h1 {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px !important;
  margin: 5px auto;
}

#st-container {
  height: 100%;
}

#st-container * {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #2E3037;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

h3 {
  margin: 7px 0px 3px 0px;
}
/* Icons */
.icon::before {
  z-index: 10;
  display: inline-block;
  margin: 0 0.4em 0 0;
  vertical-align: middle;
  text-transform: none;
  font-weight: normal;
  font-variant: normal;
  font-size: 1.3em;
  font-family: "icomoon";
  line-height: 1;
  speak-as: none;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-worship::before {
  content: "\e60b";
}

.icon-message::before {
  content: "\e60f";
}

.icon-bible::before {
  content: "\e60c";
}

.icon-book::before {
  content: "\e60d";
}

.icon-picture::before {
  content: "\e60e";
}

.icon-edit::before {
  content: "\e60b";
}

.icon-delete::before {
  content: "\e610"
}

.icon-basket::before {
  content: "\e611"
}

.icon-menu-toggle::before {
  content: "\e613"
}

.icon-arrow-right::before {
  content: "\e612"
}

.icon-content::before {
  content: "\e618"
}

.icon-questions::before {
  content: "\e617"
}

/** nav menu **/
.cd-nav-trigger {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 44px;
  height: 44px;
  background: white;
  border-radius: 0.25em;
  box-shadow: 0 0 10px #2E3037;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 101;
}

.cd-nav-trigger span {
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: #2E3037;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  transition: background 0.3s;
}

.cd-nav-trigger span::before,
.cd-nav-trigger span::after {
  content: '';
  position: absolute;
  left: 0;
  background: inherit;
  width: 100%;
  height: 100%;
  transform: translateZ(0);
  backface-visibility: hidden;
  transition: transform 0.3s, background 0s;
}

.cd-nav-trigger span::before {
  top: -6px;
  transform: rotate(0);
}

.cd-nav-trigger span::after {
  bottom: -6px;
  transform: rotate(0);
}

.cd-nav-trigger.menu-is-open span {
  background: rgba(216,155,165,0);
}

.cd-nav-trigger.menu-is-open span::before,
.cd-nav-trigger.menu-is-open span::after {
  background: #2E3037;
}

.cd-nav-trigger.menu-is-open span::before {
  top: 0;
  transform: rotate(135deg);
}

.cd-nav-trigger.menu-is-open span::after {
  bottom: 0;
  transform: rotate(225deg);
}

/** Side nav push effect **/
*,
*::after,
*::before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
.st-container,
.st-pusher,
.st-content {
  height: 100%;
}

.st-content {
  overflow-y: auto;
  /* background: #f3efe0; */
  background: #F1ECFF;
}

.st-content,
.st-content-inner {
  position: relative;
}

.st-container {
  position: relative;
  overflow: hidden;
}

.st-pusher {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.st-pusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

.st-menu-open .st-pusher::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.st-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  visibility: hidden;
  width: 300px;
  height: 100%;
  background: #48a770;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.st-menu::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.st-menu-open .st-menu::after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

.st-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.st-menu h2 {
  margin: 0;
  padding: 1em;
  color: rgba(0,0,0,0.4);
  text-shadow: 0 0 1px rgba(0,0,0,0.1);
  font-weight: 300;
  font-size: 2em;
}

.st-menu ul li a {
  display: block;
  padding: 1em 1em 1em 1.2em;
  outline: none;
  box-shadow: inset 0 -1px rgba(0,0,0,0.2);
  color: #f3efe0;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  letter-spacing: 1px;
  font-weight: 400;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li:first-child a {
  box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.st-menu ul li a:hover {
  background: rgba(0,0,0,0.2);
  box-shadow: inset 0 -1px rgba(0,0,0,0);
  color: white;
}

/* Reverse slide out */

.st-menu-open .st-pusher {
  -webkit-transform: translate3d(-300px,0,0);
  transform: translate3d(-300px,0,0);
}

.st-menu {
  z-index: 1;
  -webkit-transform: translate3d(-50%,0,0);
  transform: translate3d(-50%,0,0)
}

.st-menu-open .st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}